/*Variables*/
/*Mixins Start Here */
/*Css Starts here*/
/* line 5, ../../sass/main.scss */
body {
  background-color: #cfe7fa;
}

/* line 9, ../../sass/main.scss */
.headerRow {
  background-color: #cfe7fa;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFCFE7FA', endColorstr='#FF6393C1');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NmZTdmYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzYzOTNjMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cfe7fa), color-stop(100%, #6393c1));
  background-image: -webkit-linear-gradient(top, #cfe7fa 0%, #6393c1 100%);
  background-image: -moz-linear-gradient(top, #cfe7fa 0%, #6393c1 100%);
  background-image: -o-linear-gradient(top, #cfe7fa 0%, #6393c1 100%);
  background-image: linear-gradient(top, #cfe7fa 0%, #6393c1 100%);
  box-shadow: 0px 2px 4px 2px #6393c1;
}

/* line 14, ../../sass/main.scss */
.webResumeHeading {
  text-align: center;
}

/* line 18, ../../sass/main.scss */
.mainContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #d2d2d2;
  box-shadow: 0px 0px 4px 2px #6393c1;
  background-color: white;
  height: auto;
}

/* line 28, ../../sass/main.scss */
.navbarContainer {
  background-color: #6393c1;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF6393C1', endColorstr='#FFCFE7FA');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYzOTNjMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NmZTdmYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6393c1), color-stop(100%, #cfe7fa));
  background-image: -webkit-linear-gradient(top, #6393c1 0%, #cfe7fa 100%);
  background-image: -moz-linear-gradient(top, #6393c1 0%, #cfe7fa 100%);
  background-image: -o-linear-gradient(top, #6393c1 0%, #cfe7fa 100%);
  background-image: linear-gradient(top, #6393c1 0%, #cfe7fa 100%);
  box-shadow: 0px 2px 4px 2px #6393c1;
  z-index: 1000;
  height: 30px;
  text-align: center;
  vertical-align: middle;
}

/* line 38, ../../sass/main.scss */
.navbarLink {
  font-size: 18px;
}

/* line 42, ../../sass/main.scss */
.techImg {
  -webkit-animation: techImageAnim 4s;
  /* Chrome, Safari, Opera */
  animation: techImageAnim 4s;
  -moz-animation: techImageAnim 4s;
}

/* line 46, ../../sass/main.scss */
.techImg:hover {
  -webkit-animation: techImageAnim infinite;
  /* Chrome, Safari, Opera */
  animation: techImageAnim infinite;
  -moz-animation: techImageAnim infinite;
}

/* line 51, ../../sass/main.scss */
.timelineBaseContainer {
  padding-top: 20px;
}

/* line 55, ../../sass/main.scss */
.yearFilter {
  height: auto;
}

/* line 60, ../../sass/main.scss */
.yearFilter.ng-enter {
  -ms-transform: scale(0, 0);
  /* IE 9 */
  -webkit-transform: scale(0, 0);
  /* Chrome, Safari, Opera */
  transform: scale(0, 0);
}

/* line 65, ../../sass/main.scss */
.yearFilter.ng-enter.ng-enter-active {
  -webkit-animation: timelineYearsAnim 4s;
  /* Chrome, Safari, Opera */
  animation: timelineYearsAnim 4s;
  -moz-animation: timelineYearsAnim 4s;
}

/* line 69, ../../sass/main.scss */
.timelineContainer {
  margin-top: 20px;
}

/* line 73, ../../sass/main.scss */
.timelineRow {
  height: 100px;
  overflow: hidden;
  background: whitesmoke;
  box-shadow: 0px 0px 3px #d2d2d2;
  -moz-box-shadow: 0px 0px 3px #d2d2d2;
  -webkit-box-shadow: 0px 0px 3px #d2d2d2;
  margin-left: 5px;
  margin-bottom: 5px;
}

/* line 84, ../../sass/main.scss */
.timelineRow.ng-enter {
  -webkit-animation: timelineAnim 2s;
  /* Chrome, Safari, Opera */
  animation: timelineAnim 2s;
  -moz-animation: timelineAnim 2s;
}

/* line 92, ../../sass/main.scss */
.timelineImage {
  height: 100px;
  width: 50px;
}

@-webkit-keyframes timelineYearsAnim {
  /* line 99, ../../sass/main.scss */
  from {
    -ms-transform: scale(0, 0);
    /* IE 9 */
    -webkit-transform: scale(0, 0);
    /* Chrome, Safari, Opera */
    transform: scale(0, 0);
    transform-origin: -1000% 0%;
    -webkit-transform-origin: -1000% 0%;
    -ms-transform-origin: -1000% 0%;
  }

  /* line 103, ../../sass/main.scss */
  to {
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -webkit-transform: scale(2, 2);
    /* Chrome, Safari, Opera */
    transform: scale(2, 2);
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
  }
}

@-moz-keyframes timelineYearsAnim {
  /* line 99, ../../sass/main.scss */
  from {
    -ms-transform: scale(0, 0);
    /* IE 9 */
    -webkit-transform: scale(0, 0);
    /* Chrome, Safari, Opera */
    transform: scale(0, 0);
    transform-origin: -1000% 0%;
    -webkit-transform-origin: -1000% 0%;
    -ms-transform-origin: -1000% 0%;
  }

  /* line 103, ../../sass/main.scss */
  to {
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -webkit-transform: scale(2, 2);
    /* Chrome, Safari, Opera */
    transform: scale(2, 2);
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
  }
}

@-o-keyframes timelineYearsAnim {
  /* line 99, ../../sass/main.scss */
  from {
    -ms-transform: scale(0, 0);
    /* IE 9 */
    -webkit-transform: scale(0, 0);
    /* Chrome, Safari, Opera */
    transform: scale(0, 0);
    transform-origin: -1000% 0%;
    -webkit-transform-origin: -1000% 0%;
    -ms-transform-origin: -1000% 0%;
  }

  /* line 103, ../../sass/main.scss */
  to {
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -webkit-transform: scale(2, 2);
    /* Chrome, Safari, Opera */
    transform: scale(2, 2);
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
  }
}

@keyframes timelineYearsAnim {
  /* line 99, ../../sass/main.scss */
  from {
    -ms-transform: scale(0, 0);
    /* IE 9 */
    -webkit-transform: scale(0, 0);
    /* Chrome, Safari, Opera */
    transform: scale(0, 0);
    transform-origin: -1000% 0%;
    -webkit-transform-origin: -1000% 0%;
    -ms-transform-origin: -1000% 0%;
  }

  /* line 103, ../../sass/main.scss */
  to {
    -ms-transform: scale(2, 2);
    /* IE 9 */
    -webkit-transform: scale(2, 2);
    /* Chrome, Safari, Opera */
    transform: scale(2, 2);
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
  }
}

@-webkit-keyframes techImageAnim {
  /* line 110, ../../sass/main.scss */
  from {
    -ms-transform: scale(0, 0);
    /* IE 9 */
    -webkit-transform: scale(0, 0);
    /* Chrome, Safari, Opera */
    transform: scale(0, 0);
    -moz-transfor: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* line 114, ../../sass/main.scss */
  to {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
    -moz-transfor: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-moz-keyframes techImageAnim {
  /* line 110, ../../sass/main.scss */
  from {
    -ms-transform: scale(0, 0);
    /* IE 9 */
    -webkit-transform: scale(0, 0);
    /* Chrome, Safari, Opera */
    transform: scale(0, 0);
    -moz-transfor: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* line 114, ../../sass/main.scss */
  to {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
    -moz-transfor: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-o-keyframes techImageAnim {
  /* line 110, ../../sass/main.scss */
  from {
    -ms-transform: scale(0, 0);
    /* IE 9 */
    -webkit-transform: scale(0, 0);
    /* Chrome, Safari, Opera */
    transform: scale(0, 0);
    -moz-transfor: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* line 114, ../../sass/main.scss */
  to {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
    -moz-transfor: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes techImageAnim {
  /* line 110, ../../sass/main.scss */
  from {
    -ms-transform: scale(0, 0);
    /* IE 9 */
    -webkit-transform: scale(0, 0);
    /* Chrome, Safari, Opera */
    transform: scale(0, 0);
    -moz-transfor: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* line 114, ../../sass/main.scss */
  to {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
    -moz-transfor: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes timelineAnim {
  /* line 122, ../../sass/main.scss */
  0% {
    -ms-transform: scale(0, 0);
    /* IE 9 */
    -webkit-transform: scale(0, 0);
    /* Chrome, Safari, Opera */
    transform: scale(0, 0);
    transform-origin: -1000% 0%;
    -webkit-transform-origin: -1000% 0%;
    -ms-transform-origin: -1000% 0%;
  }

  /* line 126, ../../sass/main.scss */
  90% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
    transform-origin: 200% 0%;
    -webkit-transform-origin: 200% 0%;
    -ms-transform-origin: 200% 0%;
  }

  /* line 130, ../../sass/main.scss */
  100% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
  }
}

@-moz-keyframes timelineAnim {
  /* line 122, ../../sass/main.scss */
  0% {
    -ms-transform: scale(0, 0);
    /* IE 9 */
    -webkit-transform: scale(0, 0);
    /* Chrome, Safari, Opera */
    transform: scale(0, 0);
    transform-origin: -1000% 0%;
    -webkit-transform-origin: -1000% 0%;
    -ms-transform-origin: -1000% 0%;
  }

  /* line 126, ../../sass/main.scss */
  90% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
    transform-origin: 200% 0%;
    -webkit-transform-origin: 200% 0%;
    -ms-transform-origin: 200% 0%;
  }

  /* line 130, ../../sass/main.scss */
  100% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
  }
}

@-o-keyframes timelineAnim {
  /* line 122, ../../sass/main.scss */
  0% {
    -ms-transform: scale(0, 0);
    /* IE 9 */
    -webkit-transform: scale(0, 0);
    /* Chrome, Safari, Opera */
    transform: scale(0, 0);
    transform-origin: -1000% 0%;
    -webkit-transform-origin: -1000% 0%;
    -ms-transform-origin: -1000% 0%;
  }

  /* line 126, ../../sass/main.scss */
  90% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
    transform-origin: 200% 0%;
    -webkit-transform-origin: 200% 0%;
    -ms-transform-origin: 200% 0%;
  }

  /* line 130, ../../sass/main.scss */
  100% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
  }
}

@keyframes timelineAnim {
  /* line 122, ../../sass/main.scss */
  0% {
    -ms-transform: scale(0, 0);
    /* IE 9 */
    -webkit-transform: scale(0, 0);
    /* Chrome, Safari, Opera */
    transform: scale(0, 0);
    transform-origin: -1000% 0%;
    -webkit-transform-origin: -1000% 0%;
    -ms-transform-origin: -1000% 0%;
  }

  /* line 126, ../../sass/main.scss */
  90% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
    transform-origin: 200% 0%;
    -webkit-transform-origin: 200% 0%;
    -ms-transform-origin: 200% 0%;
  }

  /* line 130, ../../sass/main.scss */
  100% {
    -ms-transform: scale(1, 1);
    /* IE 9 */
    -webkit-transform: scale(1, 1);
    /* Chrome, Safari, Opera */
    transform: scale(1, 1);
    transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
  }
}
