@import "web.scss";

/*Css Starts here*/

body {
  background-color: $glBackgrooound;
}

.headerRow {
  @include headerBackground;
  box-shadow: $header-box-shadow;
}

.webResumeHeading {
  text-align:  center;
}

.mainContainer {
  margin-top: $glmargin;
  margin-bottom: $glmargin;
  padding-top: $glpadding;
  @include border;
  box-shadow: $container-box-shadow;
  background-color: white;
  height: auto;
}

.navbarContainer {
  @include navbarBackground;
  box-shadow: $header-box-shadow;
}

.timelineContainer {
  margin-top: $glmargin;
}


.timelineRow {
  height: 100px;
  overflow: hidden;
}

.timelineImage {
  height: 100px;
  width: 50px;
}