@import "web.scss";

/*Css Starts here*/

body {
  background-color: $glBackground;
}

.headerRow {
  @include headerBackground;
  box-shadow: $header-box-shadow;
}

.webResumeHeading {
  text-align:  center;
}

.mainContainer {
  margin-top: $glmargin;
  margin-bottom: $glmargin;
  padding-bottom: $glpadding;
  @include border;
  box-shadow: $container-box-shadow;
  background-color: $contentBgColor;
  height: auto;
}

.navbarContainer {
  @include navbarBackground;
  box-shadow: $header-box-shadow;
  z-index: 1000;
  height: 30px;
  text-align: center;
  vertical-align: middle;

}

.navbarLink {
  font-size: 18px;
}

.techImg {
  @include addAnimation(techImageAnim,4s);
}

.techImg:hover {
  @include addAnimation(techImageAnim,infinite);
}

.timelineBaseContainer {
  padding-top: $glpadding;
}

.yearFilter {
  height: auto;

}

.yearFilter.ng-enter {
  @include scaleTransforms(0,0);

}

.yearFilter.ng-enter.ng-enter-active {
  @include addAnimation(timelineYearsAnim,4s);
}

.timelineContainer {
  margin-top: $glmargin;
}

.timelineRow {
  height: 100px;
  overflow: hidden;
  background: whitesmoke;
  box-shadow: $timeline-row-shadow;
  -moz-box-shadow: $timeline-row-shadow;
  -webkit-box-shadow: $timeline-row-shadow;
  margin-left: 5px;
  margin-bottom: 5px;
}

.timelineRow.ng-enter {
  @include addAnimation(timelineAnim,2s);
}

.timelineRow.ng-enter.ng-enter-active {

}

.timelineImage {
  height: 100px;
  width: 50px;
}


@include keyframes(timelineYearsAnim) {
  from {
    @include scaleTransforms(0,0);
    @include originTransform(-1000% ,0%);
  }
  to {
    @include scaleTransforms(2,2);
    @include originTransform(0% ,0%);
  }
}

@include keyframes(techImageAnim) {
  from {
    @include scaleTransforms(0,0);
    @include rotateYTransform(0deg);
  };
  to{
    @include scaleTransforms(1,1);
    @include rotateYTransform(360deg);
  }
}


@include keyframes(timelineAnim) {
  0% {
    @include scaleTransforms(0,0);
    @include originTransform(-1000% ,0%);
  }
  90% {
    @include scaleTransforms(1,1);
    @include originTransform(200% ,0%);
  };
  100% {
    @include scaleTransforms(1,1);
    @include originTransform(0% ,0%);
  };
}

