@import "compass";

/*Variables*/
$glBackground: #cfe7fa;
$bordercolor: #d2d2d2;
$contentBgColor : white;
$headerBorderColor: #6393c1;
$glpadding: 20px;
$glmargin : 20px;


$header-box-shadow: 0px 2px 4px 2px $headerBorderColor;
$container-box-shadow: 0px 0px 4px 2px $headerBorderColor;
$timeline-row-shadow: 0px 0px 3px $bordercolor;

/*Mixins Start Here */
@mixin headerBackground {
  background-color: rgb(207,231,250); // Old browsers
  @include filter-gradient(#cfe7fa, #6393c1, vertical); // IE6-8
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%));
}

@mixin navbarBackground {
  background-color: rgb(99,147,193); // Old browsers
  @include filter-gradient(#6393c1, #cfe7fa, vertical); // IE6-8
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top, rgba(99,147,193,1) 0%,rgba(207,231,250,1) 100%));
}


@mixin padding {
  padding: $glpadding  $glpadding;
}

@mixin margin {
  margin: $glmargin $glmargin;
}

@mixin border {
  border-style: solid;
  border-width: 1px;
  border-color: $bordercolor;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}


@mixin scaleTransforms($a,$b) {
  -ms-transform: scale($a,$b); /* IE 9 */
  -webkit-transform: scale($a,$b); /* Chrome, Safari, Opera */
  transform: scale($a,$b);
}

@mixin originTransform($a,$b) {
  transform-origin:$a $b;
  -webkit-transform-origin:$a $b;
  -ms-transform-origin:$a $b;
}

@mixin addAnimation ($animation,$duration) {
  -webkit-animation: $animation $duration; /* Chrome, Safari, Opera */
  animation: $animation $duration;
  -moz-animation: $animation $duration;
}

@mixin rotateYTransform($a) {
  -moz-transfor: rotateY($a);
  -webkit-transform: rotateY($a);
  transform: rotateY($a);


}






