body {
  font-family: 'Merriweather', serif;
  font-size: 22px;
}

.wrapper {
  margin-top: 60px;
}

  .container-height {
    min-height: 300px;
  }

  .profile-img {
    position:absolute;
    bottom: -20px;
    border: 1px solid;
    border-radius: 70px;
    overflow: hidden;
  }

  .white {
    background-color: white;
  }

  .white .row {
    margin-bottom: 20px;
  }

  #particles-js {
    height: 300px;
  }

  .round-div {
    height: 300px;
    width: 300px;
    border: 20px solid;
    overflow: hidden;
    border-radius: 150px;
    margin: auto;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-bottom: 50px;
  }

  p {
    padding: 50px;
  }

  .float-msg {
    opacity: 0;
    width: 260px;
    transition: opacity ease-in-out 0.2s;
    position: relative;
    top: 40%;
    background-color: black;
    color: white;
  }
  .round-div:hover .float-msg{
    opacity: 0.8;
  }

  .uidev {
    background-image: url("images/uidevpng.png");
  }

  .agile {
    background-image: url("images/agile.png");
  }

  .tdd {
    background-image: url("images/TDD.png");
  }

  .restful {
    background-image: url("images/restpng.png");
  }

  .exp {
    background-image: url("images/exp.png");
  }

  .mis {
    background-image: url("images/mis.png");
  }

  .bootstrap {
    background-image: url("images/bootstrap.jpg");
  }

  .angular {
    background-image: url("images/angular.png");
  }

.nodejs {
  background-image: url("images/nodejs.png");
}

.ionic {
  background-image: url("images/ionic.png");
}

.git {
  background-image: url("images/git.png");
}

.grunt {
  background-image: url("images/combined.png");
}

.predix {
  background-image: url("images/predix.png");
}

.pcf {
  background-image: url("images/PCF.png");
}

.jasmine {
  background-image: url("images/jasmine.png");
}

.react {
  background-image: url("images/react.png");
}

.boot {
  background-image: url("images/boot.png");
}

.typescript {
  background-image: url("images/typescript.png");
}
  .about {
    font-size: 20px
  }

  .star {
    border-color: white;
    border-width: 20px;
    border-radius: 10px;
    margin: 100px 0px;
  }

  .star::before {
    position: relative;
    top: -20px;
    padding: 0px 30px;
    background-color: #272b30;
  }
