<div ng-controller="site.timeline.CTRL_Timeline">
    <div class="row">
        <div class="col-md-12">
            <span ng-repeat="year in timelineYears">
                    <button class="btn btn-secondary">{{year}}</button>
            </span>
        </div>
    </div>
    <div ng-repeat="timeline in timelines">
        <div class="row timelineRow">
            <div class="col-md-1">
                    {{timeline.year}}
            </div>
            <div class="col-md-6">
                    {{timeline.description}}
            </div>
            <div class="col-md-3">
                    {{timeline.image}}
            </div>
            <div class="col-md-2">
                    {{timeline.place}}
            </div>
        </div>
    </div>
</div>